header{
    position: relative;
    aspect-ratio: 2.7;
}
header img{
    object-fit: cover;
    height: auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
}
header img.active{
    opacity: 1;
}
.suivant, .precedent{
    cursor: pointer;
    color: #F8E21B;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.suivant{
    right: 1rem;
}
.precedent{
    left: 1rem;
}
.his{
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.his h2{
    text-align: center;
    margin-bottom: 40px;
}
.his p{
    width: 70%;
    text-align: justify;
}
.video{
    width: 100%;
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video iframe{
    width: 90%;
}
nav a[data-ongle='compagnie']::before{
    content: '';
    transform: translateX(-50%);
    position: absolute;
    width: calc(100% + 20px);
    height: 2px;
    background-color: #F8E21B;
    bottom: 0;   
    left: 50%;
}
.vision,.obectif{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}
.vision h2,.obectif h2{
    color: #5FB963;
    width: 80%;
    margin-bottom: 20px;
}
.vision p,.obectif h3{
    position: relative;
    width: 70%;
    margin-bottom: 20px;
}
.vision ul{
    width: 70%;
    padding-left: 3rem;
}
.obectif h3::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 3px;
    background-color: #F8E21B;
    left: -10px;
    top: 0;
}
.his h2{
    color: #5FB963;
}

@media screen and (min-width:1500px){
    .his p,.obectif h3,.vision{
        font-size: x-large;
    }
    .his h2,.obectif h2,.vision h2{
        font-size: xx-large;
    }
}
@media screen and (min-width:2200px){
    .his p,.obectif h3,.vision{
        font-size: xx-large;
    }
    nav a[data-ongle='compagnie']::before{
        height: 4px;
    }
    .obectif h3::before{
        width: 5px;
    }
    .his h2,.obectif h2,.vision h2{
        font-size: 2.5rem;
    }
}
@media screen and (max-width:720px) {
    header{
        aspect-ratio: 1.5;
    }
    .suivant, .precedent {
        font-size: 2rem;
    }
}