<footer>
    <div class="info">
        <img src="{{ url_for('static',filename='image/Artboard 2.png') }}" alt="logo" loading="lazy">
    </div>
    <div>
        <p><span><i class="fa-solid fa-phone"></i></span> +225 01 71 52 69 69</p>
    </div>
    <div>
        <p><span><i class="fa-solid fa-location-dot"></i></span> MACORY RESIDENTIEL</p>
    </div>
    <div class="sup">
        <div>
            <a href="https://www.facebook.com/savonnoiroyemi"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/oyemi_savonnoir_doux/"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
    </div>
    <div class="copie">&copy; 2022 Nala Industries Sarl par Kouame Antonio</div>
</footer>